{
  "printWidth": 120,
  "singleQuote": true,
  "trailingComma": "es5",
  "overrides": [
    {
      "files": [".babelrc", "tslint.json", ".prettierrc"],
      "options": { "parser": "json" }
    }
  ]
}
